[workspace]
resolver = "2"
members = [
    "ipm-common",
    "ipm-ocl",
    "ipm-simd",
    "coin-or-sys",
    "pywr-core",
    "pywr-schema",
    "pywr-cli",
    "pywr-python",
    "pywr-schema-macros",
]
exclude = [
    "tests/models/simple-wasm/simple-wasm-parameter"
]
# IPM packages are not default because they require nightly (portable_simd).
default-members = [
    "coin-or-sys",
    "pywr-core",
    "pywr-schema",
    "pywr-cli",
    # "pywr-python",
]


[profile.release]
opt-level = 3 # fast and small wasm
# lto = true
# strip = true
# Turn this on for profiling
# debug = true


[workspace.dependencies]
serde = { version = "1", features = ["derive", ] }
serde_json = "1.0"
thiserror = "1.0.25"
num = "0.4.0"
float-cmp = "0.10.0"
ndarray = "0.15.3"
polars = { version = "0.41.2", features = ["lazy", "rows", "ndarray"] }
pyo3-polars = "0.15"
pyo3 = { version = "0.21", default-features = false }
pyo3-log = "0.11"
tracing = { version = "0.1", features = ["log"] }
csv = "1.1"
hdf5 = { git = "https://github.com/aldanor/hdf5-rust.git", package = "hdf5", features = ["static", "zlib"] }
pywr-v1-schema = "0.15"
chrono = { version = "0.4.34", features = ["serde"] }
schemars = { version = "0.8.16", features = ["chrono"] }
