[workspace]
resolver = "2"
members = [
    "ipm-common",
    "ipm-ocl",
    "ipm-simd",
    "clp-sys",
    "pywr-core",
    "pywr-schema",
    "pywr-cli",
    "pywr-python",
]
exclude = [
    "tests/models/simple-wasm/simple-wasm-parameter"
]
# IPM packages are not default because they require nightly (portable_simd).
default-members = [
    "clp-sys",
    "pywr-core",
    "pywr-schema",
    "pywr-cli",
    # "pywr-python",
]


[profile.release]
opt-level = 3 # fast and small wasm
# lto = true
# strip = true
# Turn this on for profiling
# debug = true


[workspace.dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0.25"
time = { version = "0.3", features = ["serde", "serde-well-known", "serde-human-readable", "macros"] }
num = "0.4.0"
ndarray = "0.15.3"
polars = { version = "0.37.0", features = ["lazy", "rows", "ndarray"] }
pyo3-polars = "0.11.1"
pyo3 = { version = "0.20.2", default-features = false }
pyo3-log = "0.9.0"
tracing = {  version ="0.1", features = ["log"] }
csv = "1.1"
hdf5 = { git="https://github.com/aldanor/hdf5-rust.git", package = "hdf5", features=["static", "zlib"] }
pywr-v1-schema = { git = "https://github.com/pywr/pywr-schema/", tag="v0.9.0", package = "pywr-schema" }
