[package]
name = "pywr"
version = "2.0.0-dev"
authors = ["James Tomlinson <tomo.bbe@gmail.com>"]
edition = "2021"
rust-version = "1.60"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
libc = "0.2.97"
thiserror = "1.0.25"
ndarray = "0.15.3"
numpy = "0.18.0"
num = "0.4.0"
float-cmp = "0.9.0"
hdf5 = { version="0.8.1" }
csv = "1.1"
clp-sys = { path = "./clp-sys" }
clipm = { path = "./clipm", optional = true }
wasmer = "2.3.0"
serde = { version = "1", features = ["derive"] }
serde_json = "1.0"
time = { version = "0.3", features = ["serde", "serde-well-known", "serde-human-readable", "macros"] }
svgbobdoc = { version = "0.3.0", features = ["enable"]  }
log = "0.4.17"
pyo3-log = "0.8.0"
indicatif = "0.17.2"
highs-sys = {  git = "https://github.com/jetuk/highs-sys", branch="fix-build-libz-linking", optional = true }
# highs-sys = { path = "../../highs-sys" }
pyo3 = { version = "0.18.0" }
rayon = "1.6.1"
polars = { version = "0.28.0", features = ["lazy", "rows", "ndarray"] }
pyo3-polars = "0.4.1"
pywr-schema = { git = "https://github.com/pywr/pywr-schema/", tag="v0.6.0" }
rhai = { version="1.12.0", features=["sync"] }

# Binary dependencies
clap =  { version="4.0", features=["derive"] }
anyhow = "1.0.69"


[dev-dependencies]
tempfile = "3.3.0"
criterion = "0.5"
rand = "0.8.5"
rand_distr = "0.4.3"
rand_chacha = "0.3.1"

[lib]
name = "pywr"
path = "src/lib.rs"
crate-type = ["cdylib", "rlib"]


[features]
extension-module = ["pyo3/extension-module"]
default = ["extension-module"]
highs = ["dep:highs-sys"]
clipm = ["dep:clipm"]

[[bin]]
name = "pywr-cli"
path = "src/main.rs"


[workspace]
members = [
    "clipm",
    "clp-sys",
]
exclude = [
    "tests/models/simple-wasm/simple-wasm-parameter"
]

[profile.release]
opt-level = 3 # fast and small wasm
lto = true
# strip = true
# Turn this on for profiling
# debug = true


[[bench]]
name = "random_models"
harness = false
