[package]
name = "pywr-cli"
version = "2.0.0-dev"
edition = "2021"
rust-version = "1.60"
description = "A generalised water resource allocation model."
readme = "../README.md"
repository = "https://github.com/pywr/pywr-next/"
license = "MIT OR Apache-2.0"
keywords = ["water", "modelling"]
categories = ["science", "simulation"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap =  { version="4.0", features=["derive"] }
anyhow = "1.0.69"

rand = "0.8.5"
rand_chacha = "0.3.1"
time = {  workspace = true, features = ["serde", "serde-well-known", "serde-human-readable", "macros"] }
serde = { workspace = true }
serde_json = { workspace = true }
pywr-v1-schema = { workspace = true }

pywr-core = { path = "../pywr-core" }
pywr-schema = { path = "../pywr-schema" }


[[bin]]
name="pywr"
path="src/main.rs"
