name: Rust (Linux)

on:
  push:
    branches: [ main ]
  pull_request:

env:
  CARGO_TERM_COLOR: always
  # Make sure CI fails on all warnings, including Clippy lints
  RUSTFLAGS: "-Dwarnings"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Run Clippy
        run: cargo clippy --all-targets --features highs,cbc --all --exclude ipm-simd
      - name: Install latest mdbook
        run: |
          tag=$(curl 'https://api.github.com/repos/rust-lang/mdbook/releases/latest' | jq -r '.tag_name')
          url="https://github.com/rust-lang/mdbook/releases/download/${tag}/mdbook-${tag}-x86_64-unknown-linux-gnu.tar.gz"
          mkdir bin
          curl -sSL $url | tar -xz --directory=bin
          echo "$(pwd)/bin" >> $GITHUB_PATH

      - name: Build
        run: cargo build --verbose --features highs,cbc
      - name: Run tests
        run: cargo test --features highs,cbc
      - name: Run mdbook tests
        run: mdbook test ./pywr-book

  build_schema_only:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Build
        run: cargo build --verbose --no-default-features --package pywr-schema@2.0.0-dev
      - name: Run tests
        run: cargo test --verbose --no-default-features --package pywr-schema@2.0.0-dev
