name: Rust

on:
  push:
    branches: [ main ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Install HDF5
      run: |
        sudo apt-get update
        sudo apt-get install libhdf5-dev ocl-icd-opencl-dev zlib1g-dev
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --no-default-features
