name: Rust (Windows)

on:
  push:
    branches: [ main ]
  pull_request:

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  # Make sure CI fails on all warnings, including Clippy lints
  RUSTFLAGS: "-Dwarnings"

jobs:
  build:

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: swatinem/rust-cache@v2
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"
      - name: Run Clippy
        run: cargo clippy --all-targets --features highs,cbc,microlp,ipm-simd
      - name: Build
        run: cargo build --verbose --features highs,cbc,microlp,ipm-simd --workspace --exclude pywr-python
      - name: Run tests
        # Only test the library and binaries, not the docs
        # There were some issues with the docs tests timing out on Windows CI
        run: cargo test --features highs,cbc,microlp,ipm-simd --verbose -- --test-threads=1
