name: Rust (Windows)

on:
  push:
    branches: [ main ]
  pull_request:

env:
  CARGO_TERM_COLOR: always
  # Make sure CI fails on all warnings, including Clippy lints
  RUSTFLAGS: "-Dwarnings"

jobs:
  build:

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Run Clippy
        run: cargo clippy --features highs,cbc
      - name: Build
        run: cargo build --verbose --features highs,cbc
      - name: Run tests
        run: cargo test
